<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .active {
        background-color: red;
      }
      .message-box {
        padding: 10px 20px;
        
      }
      .success{
        background: #4fc08d;
        border: 1px solid #42b983;
      }
      .error{
        background: red;
        border: 1px solid red;
      }
      .message-box-close {
        float: right;
      }
      </style>
  </head>

  <body>
    <div id="app">
       <!-- 错误时的消息提示 -->
       <message ref='error-message' class="error">
          <template #title>
            <strong>
              输入有误！
            </strong>
          </template>
          <template>内容不能为空</template>
        </message> 
        <!-- 成功的消息提示 -->
        <message ref='success-message' class="success">
          <!-- v-slot:可以简写为# -->
          <template #title>
            <strong>
              恭喜你，
            </strong>
          </template>
          <template>新增成功！！</template>
        </message> 

       <good-add @good-add-handle='addGood'></good-add>
  
        <ul>
          <li v-for="item in goodList">{{item}}</li> 
        </ul>
    </div>

    <script src="vue.js"></script>
    <script>
       // 弹窗
       Vue.component('message',{
        data() {
          return {
            show: false
          }
        },
        template: `
          <div class='message-box' v-if='show'>
            <!--通过slot获取传入内容-->
            
            <!--具名插槽-->
            <slot name="title"></slot>
            <!--slot作为占位符（占坑位）-->
            <slot></slot>
            <span class='message-box-close' @click='changeShow'>X</span>
          </div>
        `,
        methods: {
          changeShow() {
            this.show = !this.show;
          }
        },
      })

      Vue.component('good-add',{
        data(){
          return {
            good: '',
          }
        },
        template: `
        <div>
          <input ref='addInput' v-model="good" type="text" v-on:keydown.enter="add"/>
          <button @click="add">添加商品</button>
        </div>
        `,
        mounted () {
          // mounted及之后才能访问到ref
          // 在普通的dom元素上使用，指向dom元素
          this.$refs.addInput.focus();
        },
        methods: {
          add(){
            // 发送自定义事件通知父组件新增商品（派发事件）
            // 注意事件名称定义时不要有大写字母出现
            this.$emit('good-add-handle', this.good);
          }
        }
      })

      new Vue({
          el: '#app',
          data() {
            return {
              goodList: ['花生','瓜子','啤酒'],
            }
          },
          methods: {
            addGood(good) {
              if(good){
                this.goodList.push(good); 
                // 在子组件上使用，指向组件实例
                this.$refs['success-message'].changeShow();
              } else {
                this.$refs['error-message'].changeShow();
              }
            } 
        },
      });
     </script>
  </body>

</html>